* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: Arial, Helvetica, sans-serif;
  color: #29303b;
  background-color: #ffffff;
  font-weight: 400;
  line-height: 1.4;
}

.navbar__search .form-control,
.slider__search .form-control {
  background-color: #f2f3f5;
  border: 1px solid #f2f3f5;
  border-radius: 0;
  margin: 0;
  padding: 12px 12px;
  outline: none;
}

.mynavbar {
  margin: 10px 0px;
}

.mynavbar .navbar-toggler {
  border-color: transparent;
}

.mynavbar .navbar-brand {
  margin: 0;
  padding: 0;
  margin-right: 30px;
}

.mynavbar .navbar-brand img {
  width: 110px;
}

.mynavbar .categories {
  font-size: 13px;
  font-weight: 400;
  color: #3c3b37;
  margin-right: 30px;
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
  cursor: pointer;
}

.mynavbar .categories:hover {
  cursor: pointer;
  color: #0f7c90;
}

.mynavbar .navbar-nav {
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 100%;
  margin-left: 15px;
}

.mynavbar .navbar-nav .nav-item .nav-link {
  padding: 0px;
  margin: 0px 10px;
  font-size: 13px;
  font-weight: 400;
  color: #3c3b37;
}

.mynavbar .navbar-nav .nav-item .nav-link:hover {
  color: #0f7c90;
}

.mynavbar .navbar-nav .nav-item:nth-child(3) .nav-link {
  margin-right: 20px;
}

@media screen and (max-width: 1200px) {
  .mynavbar .navbar-nav .business,
  .mynavbar .navbar-nav .teach {
    display: none;
  }
}

@media screen and (max-width: 768px) {
  .mynavbar .categories,
  .mynavbar .login,
  .mynavbar .signup {
    display: none;
  }
  .mynavbar .mytoggler {
    display: block;
    margin-right: 10px;
  }
}

@media screen and (max-width: 576px) {
  .mynavbar .navbar-brand {
    -webkit-box-flex: 1;
        -ms-flex-positive: 1;
            flex-grow: 1;
  }
  .mynavbar .navbar__search {
    -webkit-box-flex: 0;
        -ms-flex-positive: 0;
            flex-grow: 0;
  }
  .mynavbar .navbar__search .form-control {
    display: none;
  }
  .mynavbar .navbar__search .input-group-prepend .input-group-text {
    display: block;
    background-color: transparent;
    color: #505763;
    border: none;
    font-size: 14px;
  }
  .mynavbar .navbar__search .input-group-prepend .input-group-text:hover {
    background-color: transparent;
    color: #505763;
    cursor: pointer;
  }
}

.slider {
  background-image: url(../../../img/cover.jpg);
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
  margin: 0 5px;
  height: 400px;
  position: relative;
}

.slider__content {
  position: absolute;
  top: 30%;
  left: 5%;
  width: 45%;
}

.slider__content h1 {
  font-size: 44px;
  font-weight: 700;
  color: #ffffff;
}

.slider__content p {
  font-size: 18px;
  font-weight: 400;
  color: #ffffff;
}

@media screen and (max-width: 1200px) {
  .slider__content h1 {
    font-size: 30px;
    font-weight: 700;
    color: #ffffff;
  }
  .slider__content p {
    font-size: 14px;
    font-weight: 400;
    color: #ffffff;
  }
}

@media screen and (max-width: 768px) {
  .slider__content h1 {
    font-size: 24px;
    font-weight: 700;
    color: #ffffff;
  }
  .slider__content p {
    font-size: 13px;
    font-weight: 400;
    color: #ffffff;
  }
}

@media screen and (max-width: 576px) {
  .slider__content {
    width: 70%;
  }
}

.intro {
  margin-top: 70px;
}

.intro h4 {
  font-size: 24px;
  font-weight: 700;
  color: #3c3b37;
  margin-bottom: 8px;
}

.intro p {
  font-size: 16px;
  font-weight: 400;
  color: #73726c;
}

@media screen and (max-width: 576px) {
  .intro {
    display: none;
  }
}

.courses .nav .nav-item:hover .nav-link {
  border: none;
}

.courses .nav .nav-item .nav-link.active {
  border: none;
  font-size: 16px;
  font-weight: 700;
  color: #3c3b37;
  position: relative;
}

.courses .nav .nav-item .nav-link.active::after {
  content: "";
  background-color: #3c3b37;
  display: block;
  height: 2px;
  position: absolute;
  bottom: 0;
  left: 0;
  -webkit-transform: translate(5%, 0);
          transform: translate(5%, 0);
  width: 90%;
}

.courses .nav .nav-item .nav-link {
  font-size: 16px;
  font-weight: 700;
  color: #73726c;
  border: none;
  padding: 15px 12px;
}

.courses .tab-content .tab-pane.container {
  margin: 0px;
  padding: 20px 4px 0px 4px;
  max-width: 100%;
}

@media screen and (max-width: 576px) {
  .courses .nav {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .courses .nav .nav-item .nav-link.active::after {
    display: none;
  }
}

.student_view h4 {
  font-size: 24px;
  font-weight: 700;
  color: #3c3b37;
  margin-bottom: 13px;
}

@media screen and (max-width: 420px) {
  .student_view h4 {
    font-size: 16px;
  }
}

.because_you_search h4 {
  font-size: 24px;
  font-weight: 700;
  color: #3c3b37;
  margin-bottom: 13px;
}

.because_you_search h4 span {
  font-size: 24px;
  font-weight: 700;
  color: #0f7c90;
}

@media screen and (max-width: 420px) {
  .because_you_search h4 {
    font-size: 16px;
  }
  .because_you_search h4 span {
    font-size: 16px;
  }
}

.owl-carousel {
  margin: 0px 2px;
}

.owl-carousel .owl-nav {
  display: block !important;
}

.owl-carousel .owl-nav .owl-prev,
.owl-carousel .owl-nav .owl-next {
  position: absolute;
  top: 15%;
  left: -2.5%;
  width: 45px;
  height: 45px;
  border-radius: 50% !important;
  background-color: #ffffff !important;
  -webkit-box-shadow: 0 2px 8px 2px rgba(146, 153, 165, 0.1);
          box-shadow: 0 2px 8px 2px rgba(146, 153, 165, 0.1);
  outline: none !important;
}

.owl-carousel .owl-nav .owl-prev span,
.owl-carousel .owl-nav .owl-next span {
  font-size: 44px;
  font-weight: 400;
  color: #0f7c90;
  line-height: 0.7;
}

.owl-carousel .owl-nav .owl-prev:hover span,
.owl-carousel .owl-nav .owl-next:hover span {
  font-size: 44px;
  font-weight: 400;
  color: #3c3b37;
  line-height: 0.7;
}

.owl-carousel .owl-nav .owl-next {
  left: unset;
  right: -2.5%;
}

.owl-carousel .owl-dot {
  display: none !important;
}

@media screen and (max-width: 1200px) {
  .owl-carousel .owl-nav .owl-prev {
    top: 15%;
    left: -3%;
  }
  .owl-carousel .owl-nav .owl-next {
    top: 15%;
    right: -3%;
  }
}

@media screen and (max-width: 992px) {
  .owl-carousel .owl-nav .owl-prev {
    top: 17%;
    left: -3.5%;
  }
  .owl-carousel .owl-nav .owl-next {
    top: 17%;
    right: -3.5%;
  }
}

@media screen and (max-width: 768px) {
  .owl-carousel .owl-nav .owl-prev {
    top: 17%;
    left: -4%;
  }
  .owl-carousel .owl-nav .owl-next {
    top: 17%;
    right: -4%;
  }
}

@media screen and (max-width: 576px) {
  .owl-carousel .owl-nav .owl-prev {
    top: 20%;
    left: -6%;
  }
  .owl-carousel .owl-nav .owl-next {
    top: 20%;
    right: -6%;
  }
}

.login {
  color: #0f7c90;
  font-size: 13px;
  font-weight: 700;
  margin: 0px 3px;
  padding: 8px 22px;
  background-color: transparent;
  border: 1px solid #0f7c90;
}

.login:hover {
  color: #094c59;
  background-color: transparent;
  border-color: #094c59;
}

.signup {
  color: #ffffff;
  font-size: 13px;
  font-weight: 700;
  margin: 0px 3px;
  padding: 8px 22px;
  background-color: #0f7c90;
  border: 1px solid #0f7c90;
}

.signup:hover {
  color: #ffffff;
  background-color: #094c59;
  border-color: #094c59;
}

.navbar__search,
.slider__search {
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
}

.navbar__search .form-control,
.slider__search .form-control {
  font-size: 13px;
  font-weight: 400;
  color: #3c3b37;
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
  -webkit-transition: none;
  transition: none;
  background-clip: unset;
}

.navbar__search .form-control:focus,
.slider__search .form-control:focus {
  -webkit-box-shadow: none;
          box-shadow: none;
  border: solid 1px #3c3b37;
  border-right: solid 1px #f2f3f5;
  background-color: #ffffff;
}

.navbar__search .form-control:focus + .input-group-prepend .input-group-text,
.slider__search .form-control:focus + .input-group-prepend .input-group-text {
  font-size: 13px;
  background-color: #ffffff;
  color: #ec5252;
  border: solid 1px #3c3b37;
  border-left: none;
}

.navbar__search .form-control:focus + .input-group-prepend .input-group-text:hover,
.slider__search .form-control:focus + .input-group-prepend .input-group-text:hover {
  background-color: #ec5252;
  color: #ffffff;
  cursor: pointer;
}

.navbar__search .input-group-prepend .input-group-text,
.slider__search .input-group-prepend .input-group-text {
  font-size: 13px;
  background-color: #f2f3f5;
  color: #ec5252;
  border: solid 1px #f2f3f5;
  border-left: none;
}

.navbar__search .input-group-prepend .input-group-text:hover,
.slider__search .input-group-prepend .input-group-text:hover {
  background-color: #ec5252;
  color: #ffffff;
  cursor: pointer;
}

.mycontainer {
  height: auto;
  width: auto;
  margin: 25px 27px;
  padding: 0px;
  border: none;
  background: none;
}

.card {
  border: none;
  cursor: pointer;
}

.card .card-img-top {
  border: 1px solid #dcdacb;
  position: relative;
}

.card .card-img-top::before {
  content: "";
  position: absolute;
  background-color: #686f7a;
  opacity: 0;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.card .card-img-top:hover::before {
  opacity: 0.3;
  -webkit-transition: opacity linear 100ms;
  transition: opacity linear 100ms;
}

.card .card-body {
  padding: 5px 0px;
}

.card .card-body .card-title {
  font-size: 16px;
  font-weight: 700;
  color: #3c3b37;
  margin: 5px 0px;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: normal;
  display: -webkit-box !important;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
}

.card .card-body .card-text {
  font-size: 12px;
  font-weight: 400;
  color: #73726c;
  margin: 4px 0px;
}

.card .card-body .rating span:first-child {
  font-size: 14px;
  font-weight: 700;
  color: #be5a0e;
  margin-right: 5px;
}

.card .card-body .rating .rating__star {
  font-size: 12px;
  font-weight: 400;
  color: #eb8a2f;
}

.card .card-body .rating span:last-child {
  font-size: 12px;
  font-weight: 400;
  color: #73726c;
  margin-left: 5px;
}

.card .card-body .price {
  font-size: 16px;
  font-weight: 700;
  color: #3c3b37;
  margin: 4px 0px;
}

.card .card-body .btn {
  border: none;
  padding: 2px 7px;
  font-size: 12px;
  font-weight: 700;
  color: #3b0a00;
}

.card .card-body .bestseller {
  background-color: #ffe799;
}

.card .card-body .new {
  background-color: #99dbaa;
}

.card .card-body .highest-rated {
  background-color: #ffc48c;
}
/*# sourceMappingURL=home.css.map */