.companies {
  border: solid 1px $mediumGrey;
  border-left: none;
  border-right: none;
  padding: spacing(3.2);

  h4 {
    @include text($h4, $textGrey, $fwBold);
    margin-bottom: spacing(1.2);
    text-align: center;
  }

  &__logo {
    a {
      img {
        margin: spacing(1.2);
      }
    }

    a:nth-child(3) {
      img {
        width: 160px;
      }
    }
  }

  @include responsive-for("extra-small") {
    h4 {
      font-size: $h6;
    }
  }
}
