.top-categories {
  h4 {
    @include text($h4, $textGrey, $fwBold);
    margin-bottom: spacing(0.5);
  }

  &__content {
    margin: spacing(0) spacing(-0.6);
  }

  &__item {
    margin: spacing(0.8) spacing(0);
    border: 1px solid $mediumGrey;

    img {
      width: 100%;
    }

    h5 {
      @include text($h5, $textGrey, $fwBold);
      padding: spacing(1.6) spacing(1.6) spacing(2.5);
    }
  }

  @include responsive-for("extra-small") {
    h4 {
      font-size: $h6;
    }

    &__item {
      h5 {
        font-size: $h6;
      }
    }
  }
}
