// CREATE THEME

//-----COLORS BACKGROUND------
$primary: #f7f8fa;
$secondary: #ec5252;
$paper: #ffffff;
$light: #fbfbf7;
$darkGrey: #3c3b37;
$grey: #686f7a;
$mediumGrey: #dcdacb;
$lightGrey: #f2f3f5;
$blue: #0f7c90;
$darkBlue: #094c59;
$lightYellow: #ffe799;
$darkYellow: #ffc48c;
$lightGreen: #99dbaa;

//-----COLORS TEXT------
$textPrimary: #29303b;
$textSecondary: #0f7c90;
$textDarkBlue: #094c59;
$textWhite: #ffffff;
$textLightGrey: #73726c;
$textDarkGrey: #505763;
$textGrey: #3c3b37;
$textYellow: #eb8a2f;
$textDarkYellow: #be5a0e;
$textBrown: #3b0a00;

//-------FONT SIZE-------
$body1: 10px;
$body2: 12px;
$subtitle1: 13px;
$subtitle2: 14px;
$h6: 16px;
$h5: 18px;
$h4: 24px;
$h3: 32px;
$h2: 40px;
$h1: 44px;

//------FONT WEIGHT--------
$fwBold: 700;
$fwMedium: 600;
$fwRegular: 400;
$fwLight: 300;

//------LINE HEIGHT---------
$lhDefault: 1.4;

//------SPACING-------------
$spacing: 10px;
