.mynavbar {
  margin: spacing(1) spacing(0);

  .navbar-toggler {
    border-color: transparent;
  }

  .navbar-brand {
    margin: 0;
    padding: 0;
    margin-right: 30px;
    img {
      width: 110px;
    }
  }

  .categories {
    @include text($subtitle, $textGrey, $fwRegular);
    margin-right: 30px;
    align-self: center;
    cursor: pointer;
    &:hover {
      cursor: pointer;
      color: $textSecondary;
    }
  }

  .search {
    flex-grow: 1;
    .form-control {
      @include text($subtitle, $textGrey, $fwRegular);
      @include input() {
        flex-grow: 1;
        transition: none;
      }

      &:focus {
        box-shadow: none;
        border: solid 1px $grey;
        border-right: solid 1px $lightGrey;
        background-color: $paper;
      }

      &:focus + .input-group-prepend {
        .input-group-text {
          font-size: $subtitle;
          background-color: $paper;
          color: $secondary;
          border: solid 1px $grey;
          border-left: none;

          &:hover {
            background-color: $secondary;
            color: $textWhite;
            cursor: pointer;
          }
        }
      }
    }

    .input-group-prepend {
      .input-group-text {
        font-size: $subtitle;
        background-color: $lightGrey;
        color: $secondary;
        border: solid 1px $lightGrey;
        border-left: none;

        &:hover {
          background-color: $secondary;
          color: $textWhite;
          cursor: pointer;
        }
      }
    }
  }

  .navbar-nav {
    justify-content: space-between;
    align-items: center;
    width: 100%;
    margin-left: spacing(1.5);
    .nav-item {
      .nav-link {
        padding: spacing(0);
        margin: spacing(0) spacing(1);
        @include text($subtitle, $textGrey, $fwRegular);
        &:hover {
          color: $textSecondary;
        }
      }
    }

    .nav-item:nth-child(3) {
      .nav-link {
        margin-right: spacing(2);
      }
    }
  }

  @include responsive-for("extra-large") {
    .navbar-nav {
      .business,
      .teach {
        display: none;
      }
    }
  }

  @include responsive-for("medium") {
    .categories,
    .login,
    .signup {
      display: none;
    }

    .mytoggler {
      display: block;
      margin-right: spacing(1);
    }
  }

  @include responsive-for("small") {
    .navbar-brand {
      margin-right: spacing(2);
      flex-grow: 1;
    }

    .search {
      flex-grow: 0;
      .form-control {
        display: none;
      }

      .input-group-prepend {
        .input-group-text {
          display: block;
          background-color: transparent;
          color: $textDarkGrey;
          border: none;
          font-size: 14px;

          &:hover {
            background-color: transparent;
            color: $textDarkGrey;
            cursor: pointer;
          }
        }
      }
    }
  }
}
