.mynavbar {
  margin: spacing(1) spacing(0);

  .navbar-toggler {
    // border-color: transparent;
    outline: none;
  }

  .navbar-brand {
    margin: 0;
    padding: 0;
    margin-right: 30px;
    img {
      width: 110px;
    }
  }

  .categories {
    @include text($subtitle2, $textGrey, $fwRegular);
    margin-right: spacing(3);
    align-self: center;
    cursor: pointer;
    position: relative;
    &:hover {
      cursor: pointer;
      color: $textSecondary;
      .dropdown-content {
        display: block;
      }
    }

    .dropdown-content {
      display: none;
      position: absolute;
      top: 20px;
      left: -16px;
      background-color: $paper;
      min-width: 200px;
      border: solid 1px $mediumGrey;
      box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
      z-index: 1;

      a {
        color: $textGrey;
        padding: 10px 16px;
        text-decoration: none;
        display: block;

        &:hover {
          color: $textSecondary;
        }
      }
    }
  }

  .navbar-nav {
    justify-content: space-between;
    align-items: center;
    width: 100%;
    margin-left: spacing(1.5);
    .nav-item {
      .nav-link {
        padding: spacing(0);
        margin: spacing(0) spacing(1);
        @include text($subtitle2, $textGrey, $fwRegular);
        &:hover {
          color: $textSecondary;
        }
      }
    }

    .nav-item:nth-child(3) {
      .nav-link {
        margin-right: spacing(2);
      }
    }
  }

  .mycollapse {
    position: absolute;
    top: 0;
    left: 0;
    z-index: 2;

    .collapse-menu {
      background-color: $paper;
      min-width: 200px;
      border: solid 1px $mediumGrey;
      box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
      overflow-y: scroll;
      height: 500px;

      a {
        @include text($subtitle2, $textGrey, $fwRegular);
        padding: 8px 16px;
        text-decoration: none;
        display: block;
      }

      a:nth-child(1),
      a:nth-child(2) {
        color: $textSecondary;
      }

      span {
        @include text($subtitle1, $textGrey, $fwBold);
        padding: 8px 16px;
        display: block;
      }

      hr {
        margin: spacing(0.5) spacing(0);
      }
    }
  }

  @include responsive-for("extra-large") {
    .navbar-nav {
      .business,
      .teach {
        display: none;
      }
    }
  }

  @include responsive-for("medium") {
    .categories,
    .login,
    .signup {
      display: none;
    }

    .mytoggler {
      display: block;
      margin-right: spacing(1);
    }
  }

  @include responsive-for("small") {
    .navbar-brand {
      // margin-right: spacing(2);
      flex-grow: 1;
    }

    .navbar__search {
      flex-grow: 0;
      .form-control {
        display: none;
      }

      .input-group-prepend {
        .input-group-text {
          display: block;
          background-color: transparent;
          color: $textDarkGrey;
          border: none;
          font-size: $subtitle2;

          &:hover {
            background-color: transparent;
            color: $textDarkGrey;
            cursor: pointer;
          }
        }
      }
    }
  }

  @include responsive-for("extra-small") {
    .navbar-brand {
      margin-right: spacing(0);
    }

    .navbar-nav {
      margin-left: spacing(0);
      .nav-item {
        .nav-link {
          margin: spacing(0) spacing(1);
        }
      }
    }
  }
}
