.owl-carousel {
  .owl-nav {
    display: block !important;

    .owl-prev,
    .owl-next {
      position: absolute;
      top: 15%;
      left: -2.5%;
      width: 45px;
      height: 45px;
      border-radius: 50% !important;
      background-color: $paper !important;
      box-shadow: 0 2px 8px 2px rgba(146, 153, 165, 0.1);
      outline: none !important;

      span {
        @include text($h1, $textSecondary, $fwRegular);
        line-height: 0.7;
      }

      &:hover {
        span {
          @include text($h1, $textGrey, $fwRegular);
          line-height: 0.7;
        }
      }
    }

    .owl-next {
      left: unset;
      right: -2.5%;
    }
  }

  .owl-dot {
    display: none !important;
  }

  @include responsive-for("extra-large") {
    .owl-nav {
      .owl-prev {
        top: 15%;
        left: -3%;
      }

      .owl-next {
        top: 15%;
        right: -3%;
      }
    }
  }

  @include responsive-for("large") {
    .owl-nav {
      .owl-prev {
        top: 17%;
        left: -3.5%;
      }

      .owl-next {
        top: 17%;
        right: -3.5%;
      }
    }
  }

  @include responsive-for("medium") {
    .owl-nav {
      .owl-prev {
        top: 17%;
        left: -4%;
      }

      .owl-next {
        top: 17%;
        right: -4%;
      }
    }
  }

  @include responsive-for("small") {
    .owl-nav {
      .owl-prev {
        top: 20%;
        left: -6%;
      }

      .owl-next {
        top: 20%;
        right: -6%;
      }
    }
  }
}
